.boximg{
				
float:left;

}

.cover {

background: url("images/cover.png")no-repeat center center;

background-size: cover;
	
}

html,

body,

header,
	
.view{
    
height: 100%;
	
}

.navbar ul li a {

color:white;

font-weight: bold;

}

.box1{

height:auto;

width:60%;

background-color:#414143;
	
margin:90px;
				
margin-left:20%;
	
}

.box2{

height:400px;

width:400px;

border: solid 3px #eab221;	

}

.box3{

height:230px;

width:300px;

background-color:white;

}

.box4{

height:200px;

width:400px;

background-color:#eab221;

}
	
.box5{
	
height:auto;
				
width:250px;
	
background-color:#eab221;
				
margin-left:30%;

margin-top:30px;

text-align:center;
	
}
